@model MVCRoutes.Models.CodesViewModel

@{
    ViewData["Title"] = "Codes";
}

<h1>@Model.Data</h1>

<div class="row">
    <div class="col-md-12">
        <h2>How to use</h2>
        <p>Try changing the right most section of the url directly for this page. Whatever you put there will show up as the page H1.</p>
    </div>
</div>