@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>How to use</h2>
        <p>You can pass data to the controller via the URL. You can go to /codes/yourdata and 'yourdata' will be acessible by the controller. In this exmaple, the controller adds the data to a view model which is displayed in the H1 tag in the view.</p>
        <p>Try going to <a href="/codes/SomeData">/codes/SomeData</a> to see this in action.</p>
        <p>Typically you'd setup an <a href="http://aka.ms">aka.ms</a> link when using this approach of passing data in the url</p>
    </div>
</div>
